@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor:default;
}
:root{
    --oswald:"Oswald", serif;
    --italiana:"Italiana", serif;
    --bg--color: #ffffff; 
    --text--color: #000000; 
    --icon-color: #000000; 
}
body{
    background-color: var(--bg--color);
    color: var(--text--color);
    transition:  0.3s, color 0.3s;
    overflow:auto; 
}
html, body {
    overflow-x: hidden;
    width: 100%;
}
.page-content {
    padding: 0 125px;
    overflow: auto; 
    height: 100vh;
    position: relative;
}

.menu_toggler:checked ~ .page-content {
    height: 100vh;
    overflow: hidden;
}
body.dark-mode {
    --bg--color: #000;
    --text--color: #fff;
    --icon-color: #ffffff;
    background-color: var(--bg--color);
    color: var(--text--color);
}
html{
    font-size: 21px;
    scroll-behavior: smooth;
}

h1{
    font-size: 6rem;
    font-family: var(--italiana);
}

h2{
    font-size: 4rem;
    opacity: 0.5;
    font-family: var(--italiana);
    text-transform: uppercase;
}
h3{
    font-size: 4rem;
}
.accordion-button h4{
    font-size: 1rem;
}
p{
    font-size: 1rem;
}

/* basis structur */

.header {
    max-width: 1400px;
    width: 100%;
    min-height: 10vh;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__nav {
    width: 50%;
}

.header__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    list-style: none;
}

.header__item a {
    font-family: var(--oswald);
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text--color);
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.header__item a:hover {
    cursor: pointer;
    opacity: 0.5;
}
.header__theme{
    width: 30px;
    height: 30px;
    position: relative;
}
.theme-toggler:hover{
    cursor: pointer;
}

.theme-toggler {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
}
.theme-toggler__label {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.theme-toggler__label img{
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease-in-out;
}
.theme-toggler:checked + .theme-toggler__label img {
    content: url('./img/sun.svg') 
}

/* end header */
/* menu burger */

.menu_toggler{
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 95px;
    top: 3px;
    z-index: 20;
    opacity: 0;
}
.menu_burger-button {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    position: relative;
    top: 0px;
    list-style: none;
    z-index: 15;
    transition: 0.3s;
}


.menu_burger-button::before , .menu_burger-button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 20px;
    background: var(--icon-color);
}

.menu_burger-button::before {
    top: 16px;
}

.menu_burger-button::after {
    bottom: 16px;
}

.menu_toggler:checked ~ .menu_burger-button::before {
    transform: rotate(45deg);
    top:20px;
    background: var(--icon-color);
}
.menu_toggler:checked ~ .menu_burger-button::after {
    transform: rotate(-45deg);
    top: 20px;
    background: var(--icon-color);
}

.menu_toggler:checked ~ .header__nav-burger{
    height: 100vh;
    overflow: hidden;
    transform-origin: top right;
}

.header__nav-burger{
    display: none;
    height: 0;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0px;
    z-index: 10;
    background: var(--bg--color);
    overflow: hidden;
    transition: 0.3s;
    transform-origin: top right;
    z-index: 10;
}

.nav__list-burger{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu:not(:target) {
    display: none; /* Скрывает меню при переходе */
}
/* end burger */